<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          
          <h1>
            Our Coaches
  
          </h1>
        </div>
    
        </div>
      </div> 
  </div><!-- /cont -->
</div>

<center>
<!-- Begin Body -->
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#ShawnSmith">Coach Shawn Smith</a></li>
                  <li><a href="#T.S.Hamilton">Coach T.S. Hamilton</a></li>
                  <li><a href="#AndrewKwong">Coach Andrew Kwong</a></li>
                  <li><a href="#MatthewMendoza">Coach Matthew Mendoza</a></li>
                  <li><a href="#HankUnderlied">Coach Hank Underlied</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-9">
              	<h2 id="ShawnSmith">Coach Shawn Smith</h2>
<div class="row">
                  	<img src="//placehold.it/300x300" class="img-responsive">
              	</div>
              	<h4>
               Words
              	</h4>
                <hr>
            
              	<h2 id="T.S.Hamilton">Coach T.S. Hamilton</h2>
            <div class="row">
                  	<img src="//placehold.it/300x300" class="img-responsive">
              	</div>
              	<p>
                words
              	</p>
              	<hr>
              
              	<h2 id="AndrewKwong">Coach Andrew Kwong</h2>
              	
              	<div class="row">
                  	<img src="//placehold.it/300x300" class="img-responsive">
              	</div>
              	<p>
                Andrew Kwong is a UC Berkeley grauate with a degree in Nutritional Sciences.  He plans to attend medical school in the future.  He wrestled at C.K. McClatchy for two years where he was team captain and metro champion, then wrestled at UC Berkeley's wrestling club.  Coach Kwong enjoys working with children and believes breaking movements into steps and performing them slowly allows students to develop their wrestling game.  He is currently a coach for the youth wrestling club.
              	</p>


              	<hr>
              
              	<h2 id="MatthewMendoza">Coach Matthew Mendoza</h2>
      			<div class="row">
                  	<img src="//placehold.it/300x300" class="img-responsive">
              	</div>
              	<p>
               Matthew Mendoza is a recent UCLA graduate with a double major in Arabic and Middle East & North African Studies.  He wrestled at C.K. McClatchy for four years during where he was team captain during his senior year, a metro champion and team MVP.  Coach Mendoza loves to share his knowledge of the sport of wrestling and believes in emphasizing the basics of wrestling.  He is currently a coach for the youth wrestling club.
              	</p>

              <hr>
              
              	<h2 id="HankUnderlied">Coach Hank Underlied</h2>
      		<div class="row">
                  	<img src="//placehold.it/300x300" class="img-responsive">
              	</div>
              	<p>
                words
              	</p>
 
              	
              	
      		</div> 
  	</div>
</div>

</center>


	
