

<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Our Coaches
  
          </h1>
        </div>
    
        </div>
      </div> 
  </div><!-- /cont -->
</div>

<center>
<!-- Begin Body -->
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#ShawnSmith">Coach Shawn Smith</a></li>
                  <li><a href="#T.S.Hamilton">Coach T.S. Hamilton</a></li>
                  <li><a href="#AndrewKwong">Coach Andrew Kwong</a></li>
                  <li><a href="#MatthewMendoza">Coach Matthew Mendoza</a></li>
                  <li><a href="#HankUnderlied">Coach Hank Underlied</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-9">
              	<h2 id="ShawnSmith">Coach Shawn Smith</h2>
<div class="row">
                  	<div class="col-md-4"><img src="//placehold.it/300x300" align=:"middle" class="img-responsive"></div>
              	</div>
              	<p>
                Each of our coaches from a variety of backgrounds with solid experiences in wrestling and sincere interests in raising the level of wrestling in the local community.  They are all required to have USA Wrestling Coaching Certifications and are background checked by the school district.
              	
              	</p>


               
            
           
              	<hr class="col-md-12">
        
              
              
              	<h2 id="T.S.Hamilton">Coach T.S. Hamilton</h2>
            <div class="row">
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
              	</div>
              	<p>
                words
              	</p>
              	<hr>
              
              	<h2 id="AndrewKwong">Coach Andrew Kwong</h2>
              	
              	<div class="row">
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
              	</div>
              	<p>
                words
              	</p>


              	<hr>
              
              	<h2 id="MatthewMendoza">Coach Matthew Mendoza</h2>
      			<div class="row">
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
              	</div>
              	<p>
                words
              	</p>

              <hr>
              
              	<h2 id="HankUnderlied">Coach Hank Underlied</h2>
      		<div class="row">
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
              	</div>
              	<p>
                words
              	</p>
 
              	
              	
      		</div> 
  	</div>
</div>

</center>


	
