<center>

<strong><h1>Contact Us<h1></strong>
<br>
<h4>Sac Metro Lions Wrestling Club values the input of parents and students. <h4>
<h4>We understand that wrestling may seem daunting at times and parents may <h4>
<h4>have many questions in regards to how the sport works.<h4>
<h4>Please feel free to email us with any questions or drop in and visit!<h4>
<br>
<br>
<h3><u>Contact Name</u>: Coach Shawn Smith</h3>
<h3><u>Email:</u> go.lions.wrestling@gmail.com<h3>
<h3><u>Location:</u> C.K. McClathy High School <h3>
<h3>3066 Freeport Blvd, Sacramento, CA 95818<h3>



</center>
