<div class="jumbotron">
<center>

<h1>Welcome to Sac Metro Lions Wrestling Club!</h1>
<body>


	<p>At Sac Metro Lions Wrestling Club our mission is to strengthen <p>
	<p>the local Sacramento community's level of youth wrestling while imparting <p>
	<p>valuable life lessons of fitness, self-confidence, perseverance, and <p>
	<p>never-ending belief in self-improvement. <p>
	<p> Come in and give us a try, the first practice is on us! <p>

</body>
</center>
</div>
